ANTHROPIC_AUTH_TOKEN=sk-xxxxxx
ANTHROPIC_BASE_URL=http://192.168.1.2:20128/v1
ANTHROPIC_DEFAULT_HAIKU_MODEL=ms/kimi-for-coding
ANTHROPIC_DEFAULT_OPUS_MODEL=ms/kimi-for-coding
ANTHROPIC_DEFAULT_SONNET_MODEL=ms/kimi-for-coding
ANTHROPIC_MODEL=ms/kimi-for-coding
LARK_CLI_DOMAIN=https://open.feishu.cn
LARK_CLI_APP_ID=cli_XXX
LARK_CLI_APP_SECRET=XXXX
